@font-face {
    font-family: Hanken Grotesk;
    src: url(https://fonts.google.com/specimen/Hanken+Grotesk);
}
body{
    width: 1440px;
    /* font-size: 18px; */
}
.container{
   display: flex;
   justify-content: center;
   margin-top: 5%;
   background-color: lightgray ;
   width: 650px;
   border-radius: 7%;
   margin-left: 25%;

}
.result{
    font-family: Hanken Grotesk;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 250px;
    height: 450px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    padding-bottom: 0%;
    border-radius: 7%;
}
.circle{
    margin-left: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 100%;
}

.summary{
    margin-left: 60px;
    width: 250px;
    display: inline-block;
}
.summary ul{
    padding-left: 0px;

}
.summary ul li{
    margin-top: 15px;

    display: flex;
    flex-direction: row;
}

.reaction{
    display: flex;
    background-image: linear-gradient(to right, hsl(0, 100%, 67%),white);
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.memory{
    display: flex;
    background-image: linear-gradient(to right,hsl(39, 100%, 56%),white);
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px; 
    border-radius: 10px;

}
.verbal{
    display: flex;
    background-image: linear-gradient(to right,hsl(166, 100%, 37%) ,white);
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px; 
    border-radius: 10px;

}
.visual{
    display: flex;
    background-image: linear-gradient(to right, hsl( 234, 85%, 45%) ,white);
    /* opacity: 0.3; */
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px; 
    border-radius: 10px;

}
.item{
    position: relative;
    /* color: red; */
    font-size: 10px;
}
.value {
    padding-left: 10px;
    font-size: 10px;
  
}
.button{
    justify-content: center;
    background-color:darkslategrey;
    width: 100%;
    height: 50px;
    margin-top: 0px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.attribution{
    margin-top: 20px;
}
